* {
    font-family: "Open Sans";
}

body {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 20px;
    width: fit-content;
    padding: 20px 50px;
    background-color: antiquewhite;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
}

body * {
    background-color: inherit;
}

.btn {
    background-color: red;
}

.completed {
    text-decoration: line-through;
}

.invisible {
    visibility: hidden;
}