@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="SearchAnimals" asp-controller="Animal" method="post">
    <div class="form-group">
        <label for="simpleInput">Type in Breed:</label>
        <input type="text" name="breedInput" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>